# Configuration file

ability {
    # Supported Metal Entities of Electro Master. The entity name can be used. [default: [Ljava.lang.String;@7fb9d936]
    S:metalEntities <
        minecart
        chest_minecart
        furnace_minecart
        tnt_minecart
        hopper_minecart
        spawner_minecart
        commandblock_minecart
        academy:EntityMagHook
        villager_golem
     >

    # Supported Normal Metal Blocks of Electro Master. The block name and ore dictionary name can be used. [default: [Ljava.lang.String;@30fc9720]
    S:normalMetalBlocks <
        rail
        iron_bars
        iron_block
        activator_rail
        detector_rail
        golden_rail
        sticky_piston
        piston
     >

    # Supported Weak Metal Blocks of Electro Master. The block name and ore dictionary name can be used. [default: [Ljava.lang.String;@38122562]
    S:weakMetalBlocks <
        dispenser
        hopper
        iron_ore
     >
}


generic {
    # switch for analytic system [default: true]
    B:analysis=true

    # Whether the skills are effective on players.
    B:attackPlayer=true

    # Whether the skills will destroy blocks in the world.
    B:destroyBlocks=true

    # Whether the ores will be generated in overworld. [default: true]
    B:genOres=true

    # Whether phase liquid will be generated in overworld. [default: true]
    B:genPhaseLiquid=true

    # Whether the player will be given MisakaCloud Terminal on first spawn. [default: true]
    B:giveCloudTerminal=true

    # Show heads or tails after throwing a coin. [default: false]
    B:headsOrTails=false

    # Whether teleporter can use mouse wheel to control the destination.
    B:useMouseWheel=false

    # The worlds which whitelisted destroying blocks. World IDs, sub folder names and world names are all supported.
    S:worldsWhitelistedDestroyingBlocks <
     >
}


