# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# ATTENTION: Editing this file manually is no longer necessary. 
# On the Mods list screen select the entry for bspkrsCore, then click the Config button to modify these settings.
##########################################################################################################

general {
    #  [default: false]
    B:allowDebugOutput=false
}


